@page "/AddTeam"
@using DAL
@inject IJSRuntime JS

<div class="FlexHouseInputs">
    <div class="TeamNameInputs">
        <label type="text" class="Labels">Team Name</label>
        <input type="text" placeholder="Kopersbond" class="InputBoxes" id="TeamName"/>
    </div>

    <div class="PlayerNamesInputs">
        <label type="text" class="Labels">Player Name</label>
        <input type="text" placeholder="Gerrie Kotse" class="InputBoxes" />
        <input type="text" placeholder="Johan Hanse" class="InputBoxes" />
        <input type="text" placeholder="Jaco Groenewald" class="InputBoxes" />
        <input type="text" placeholder="Tinus Barnard" class="InputBoxes" />
        <input type="text" placeholder="Dan Swart" class="InputBoxes" />
    </div>

    <div class="TeamCategoryInputs">
        <label type="text" class="Labels">Team Category</label>
        <select name="TypeCombo" id="TeamCategories" class="InputBoxes">
             <option value="EmptyOption">Please select a Category</option>
            @foreach (var category in dbProcessor.GetCategories(8))
            {
                <option value="@category">@category</option>
            }
        </select>
    </div>

    <input type="submit" value="Push Team" class="Buttons" @onclick="AddNewTeam" />
</div>

<div class="FlexHouseTables">
    @foreach (var category in dbProcessor.GetCategories(8))
    {
        @if (counter != dbProcessor.GetCategories(8).Count - 1)
        {
            @if ((counter == 0 || counter % 2 == 0) && counter != 1)
            {
                <div class="InnerOne">
                    <table id="Table_@category">
                        <tr>
                            <th>@category</th>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div class="InnerTwo">
                    <table id="Table_@counter">
                        <tr>
                            <th>@category</th>
                        </tr>
                    </table>
                </div>
            }
        }
        else
        {
            <div class="InnerFinal">
                <table id="Table_@category">
                    <tr>
                        <th>@category</th>
                    </tr>
                </table>
            </div>
        }
        counter++;
    }
</div>


@code {
    DatabaseProcessor dbProcessor = new DatabaseProcessor();
    int counter = 1;
    List<string> categoryNames = new List<string>();
    string categoryName;

    private async void AddNewTeam()
    {
        await JS.InvokeAsync<string>("CurrentDateForInput", GetCategoryNames());
    }

    private string GetCategoryNames()
    {
        if (categoryName == null)
            return "";
        else
            return categoryName;
    }
}